<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TransportDBEntities" connectionString="metadata=res://*/TransportModel.csdl|res://*/TransportModel.ssdl|res://*/TransportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=E:\test\Transport\Transport.WEB\App_Data\TransportDB.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>