@{
    ViewBag.Title = "Create";
}

<div class="margin-top-15" ng-controller="orderController">
    <form name="orderForm" novalidate>
        <div class="row">
            <div class="col-md-6 padding-left-inherit">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Отправитель
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Город</label>
                            <div>
                                <select class="form-control" name="fromCity" ng-model="formModel.fromCity" required>
                                    <option ng-show='formModel.fromCity == ""' ng-selected='formModel.fromCity == ""' value="">Выберите город</option>
                                    <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.fromCity == '' || orderForm.fromCity < 1">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Адрес</label>
                            <div>
                                <input class="form-control" name="fromAddress" ng-model="formModel.fromAddress" required/>
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.fromAddress.$error.required">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Дата отправки</label>
                            <div>
                                <input type="date" class="form-control" name="fromDate" type="datetime" ng-model="formModel.fromDate" required />
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.fromDate.$error.required">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>                                              
            </div>
            <div class="col-md-6 padding-right-inherit">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Получатель
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Город</label>
                            <div>
                                <select class="form-control" name="toCity" ng-model="formModel.toCity" required>
                                    <option ng-show='formModel.toCity == ""' ng-selected='formModel.toCity == ""' value="">Выберите город</option>
                                    <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.toCity == '' || orderForm.toCity < 1">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Адрес</label>
                            <div>
                                <input class="form-control" name="toAddress" ng-model="formModel.toAddress" required />
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.toAddress.$error.required">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Дата отправки</label>
                            <div>
                                <input type="date" class="form-control" name="toDate" type="datetime" ng-model="formModel.toDate" required />
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.toDate.$error.required">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">Характеристики товара</div>
                <div class="panel-body">
                    <div class="row" style="margin-left:inherit">
                        <div class="form-group">
                            <label class="control-label">Название товара</label>
                            <div>
                                <input class="form-control" name="name" ng-model="formModel.name" required />
                                <span class="has-error" ng-show="orderForm.$submitted">
                                    <span ng-show="orderForm.name.$error.required">Это поле обязательное</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Вес</label>
                                <div>
                                    <input class="form-control" name="weight"  ng-model="formModel.weight" required />
                                    <span class="has-error" ng-show="orderForm.$submitted">
                                        <span ng-show="orderForm.weight.$error.required">Это поле обязательное</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Высота</label>
                                <div>
                                    <input class="form-control" name="height" ng-model="formModel.height" required />
                                    <span class="has-error" ng-show="orderForm.$submitted">
                                        <span ng-show="orderForm.height.$error.required">Это поле обязательное</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ширина</label>
                                <div>
                                    <input class="form-control" name="width" ng-model="formModel.width" required />
                                    <span class="has-error" ng-show="orderForm.$submitted">
                                        <span ng-show="orderForm.width.$error.required">Это поле обязательное</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Длинна</label>
                                <div>
                                    <input class="form-control" name="length" ng-model="formModel.length" required />
                                    <span class="has-error" ng-show="orderForm.$submitted">
                                        <span ng-show="orderForm.length.$error.required">Это поле обязательное</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row modal-footer padding-right-inherit">
            <button class="btn btn-success" ng-click="createOrder(orderForm)">Подтвердить</button>
        </div>
    </form>   
</div>


<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
<script type="text/javascript" src="~/Scripts/form.js"></script>
<script src="~/Scripts/controllers/orderController.js"></script>
}
