@model IEnumerable<Transport.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Создать заказ", "Create")
</p>
<div ng-controller="dashboardController">
    <table class="table table-striped">
        <tr>
            <th>Название заказа</th>
            <th>
                Дата отправки
            </th>
            <th>
                Дата доставки
            </th>
            <th>
                Адрес отправителя
            </th>
            <th>
                Адрес получателя
            </th>
            <th>
                Тип транспорта
            </th>
        </tr>
        <tr style="cursor:pointer" ng-repeat="order in orders" ng-click="details($index)">
            <td>{{order.name}}</td>
            <td>
                {{order.fromDate | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                {{order.toDate | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                {{order.fromCityName + ', ' + order.fromAddress}}
            </td>
            <td>
                {{order.toCityName + ', ' + order.toAddress}}
            </td>
            <td>
                {{order.transportName}}
            </td>
        </tr>        
    </table>

</div>
<script src="~/Scripts/controllers/dashboardController.js"></script>
